LOCAL_POSTGRESQL_URL=<YOUR_LOCAL_POSTGRESQL_URL>
AZURE_CHAT_API_KEY=<YOUR_AZURE_CHAT_API_KEY>
AZURE_EMBEDDING_API_KEY=<YOUR_AZURE_EMBEDDING_API_KEY>
AZURE_CHAT_ENDPOINT=<YOUR_AZURE_CHAT_ENDPOINT>
AZURE_EMBEDDING_ENDPOINT=<YOUR_AZURE_EMBEDDING_ENDPOINT>
AZURE_CHAT_MODEL=<YOUR_AZURE_CHAT_MODEL>
AZURE_EMBEDDING_MODEL=<YOUR_AZURE_EMBEDDING_MODEL>
AZURE_API_VERSION=<YOUR_AZURE_API_VERSION>
GROQ_API_KEY=<YOUR_GROQ_API_KEY>
GROQ_MODEL=<YOUR_GROQ_MODEL>